<div class="row mt-4">
  <div class="col-12 d-flex justify-content-center">
    <button class="btn btn-success" [disabled]="uploading" type="button" (click)="fileInput.click()">{{ !uploading ? 'Enviar video' : 'Enviando arquivo, aguarde...' }}</button>
    <input #fileInput class="file" type="file" (change)="upload($event)">
  </div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <div>
      <span *ngIf="lastUploadError" class="text-danger">Falha ao enviar o arquivo</span>&nbsp;
    </div>
  </div>
</div>
<div class="row mt-4">
  <div *ngFor="let video of videos; let i = index;" class="col-6">
    <div class="card" [ngClass]="statusMapCard[video.transcode.status]">
      <div class="card-body">
        <div *ngIf="video.show; else checking" style="padding:56.19% 0 0 0;position:relative;"><iframe [src]="video.playerEmbedUrl | safe:'resourceUrl'" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" [title]="video.name"></iframe></div><script [src]="'https://player.vimeo.com/api/player.js' | safe:'url'"></script>
      </div>
      <ng-template #checking>Verificando status do video, aguarde....</ng-template>
      <div class="card-footer d-flex justify-content-end">
        <button *ngIf="video.transcode.status !== statusMap.complete" class="btn btn-primary" (click)="checkStatus(video)">Verificar status</button>
        &nbsp;
        <button class="btn btn-danger" (click)="delete(video, i)">Remover</button>
      </div>
    </div>
  </div>
</div>
